
@{
    ViewBag.Title = "TodoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Profilim</h2>
<h2>Tüm başlıklarda paging </h2>
<h2>Mesajlarda Session </h2>
<h2>oturum yönetiminin mimariye taşınması </h2>
<h2>token kullanımı </h2>
<h2> </h2>

